Pandas is a powerful data manipulation library in Python, widely used for data analysis and data cleaning. It
provides two primary data structures: Series and DataFrame. A Series is a one-dimensional array-like object,
while a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure
with labeled axes (rows and columns).

In [42]:
import pandas as pd

In [43]:
data=[1,2,3,4,5]
series=pd.Series(data)
print("Series : \n",series)

Series :
 0    1
1    2
2    3
3    4
4    5
dtype: int64

In [44]:
## create a series from dictionary
data={'a':1,'b':2,'c':3}
series_dict=pd.Series(data)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [45]:
data=[10,20,30]
index=['a','b','c']
series=pd.Series(data,index=index)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [46]:
## Dataframe
## create a dataframe from a dictionary of list
data={
    "Name": ["Tom", "Nick", "John"],
    "Age": [20, 21, 19],
    "Score": [90, 85, 88],
    "city":['Banglore','new york','delhi']
}
df=pd.DataFrame(data)
print(df)

   Name  Age  Score      city
0   Tom   20     90  Banglore
1  Nick   21     85  new york
2  John   19     88     delhi

In [47]:
## Create a Data frame From a List of Dictionaries
data=[
    {
        'Name' : 'John',
        'Age' : 28,
        'score' :90,
        'city' : 'New York'
    },
    {
        'Name' : 'Jack',
        'Age' : 30,
        'score' :80,
        'city' : 'Banglore'
    },
    {
        'Name' : 'Jill',
        'Age' : 30,
        'score' :80,
        'city' : 'Hydrabath'
    },
    ]

df=pd.DataFrame(data)
print(df)
print(type(df))

   Name  Age  score       city
0  John   28     90   New York
1  Jack   30     80   Banglore
2  Jill   30     80  Hydrabath
<class 'pandas.core.frame.DataFrame'>

In [48]:
file_path=r"D:\Code for tutorials\python Tutorial\Datasets\Details.csv"
df=pd.read_csv(file_path)
print(df)

     Order ID  Amount  Profit  Quantity     Category      Sub-Category  \
0     B-25681    1096     658         7  Electronics  Electronic Games
1     B-26055    5729      64        14    Furniture            Chairs
2     B-25955    2927     146         8    Furniture         Bookcases
3     B-26093    2847     712         8  Electronics          Printers
4     B-25602    2617    1151         4  Electronics            Phones
...       ...     ...     ...       ...          ...               ...
1495  B-25700       7      -3         2     Clothing       Hankerchief
1496  B-25757    3151     -35         7     Clothing          Trousers
1497  B-25973    4141    1698        13  Electronics          Printers
1498  B-25698       7      -2         1     Clothing       Hankerchief
1499  B-25993    4363     305         5    Furniture            Tables

      PaymentMode
0             COD
1             EMI
2             EMI
3     Credit Card
4     Credit Card
...           ...
1495          COD
1496          EMI
1497          COD
1498          COD
1499          EMI

[1500 rows x 7 columns]

In [49]:
file_path=r'D:\Code for tutorials\python Tutorial\Datasets\Details.csv'
df=pd.read_csv(file_path)
df.head(5)

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card

In [50]:
file_path=r'D:\Code for tutorials\python Tutorial\Datasets\Details.csv'
df=pd.read_csv(file_path)
df.tail(5)

     Order ID  Amount  Profit  Quantity     Category Sub-Category PaymentMode
1495  B-25700       7      -3         2     Clothing  Hankerchief         COD
1496  B-25757    3151     -35         7     Clothing     Trousers         EMI
1497  B-25973    4141    1698        13  Electronics     Printers         COD
1498  B-25698       7      -2         1     Clothing  Hankerchief         COD
1499  B-25993    4363     305         5    Furniture       Tables         EMI

In [51]:
df['Amount'].tail(20)

1480    2061
1481    1103
1482    2103
1483    2115
1484     850
1485    1063
1486    1063
1487    2292
1488       7
1489    2452
1490    2457
1491       4
1492    2830
1493       7
1494       7
1495       7
1496    3151
1497    4141
1498       7
1499    4363
Name: Amount, dtype: int64

In [52]:
print(df.loc[0])
print(df.iloc[0])

Order ID                 B-25681
Amount                      1096
Profit                       658
Quantity                       7
Category             Electronics
Sub-Category    Electronic Games
PaymentMode                  COD
Name: 0, dtype: object
Order ID                 B-25681
Amount                      1096
Profit                       658
Quantity                       7
Category             Electronics
Sub-Category    Electronic Games
PaymentMode                  COD
Name: 0, dtype: object

In [53]:
print(df.loc[0:5])
print(df.iloc[0:5])

  Order ID  Amount  Profit  Quantity     Category      Sub-Category  \
0  B-25681    1096     658         7  Electronics  Electronic Games
1  B-26055    5729      64        14    Furniture            Chairs
2  B-25955    2927     146         8    Furniture         Bookcases
3  B-26093    2847     712         8  Electronics          Printers
4  B-25602    2617    1151         4  Electronics            Phones
5  B-25881    2244     247         4     Clothing          Trousers

   PaymentMode
0          COD
1          EMI
2          EMI
3  Credit Card
4  Credit Card
5  Credit Card
  Order ID  Amount  Profit  Quantity     Category      Sub-Category  \
0  B-25681    1096     658         7  Electronics  Electronic Games
1  B-26055    5729      64        14    Furniture            Chairs
2  B-25955    2927     146         8    Furniture         Bookcases
3  B-26093    2847     712         8  Electronics          Printers
4  B-25602    2617    1151         4  Electronics            Phones

   PaymentMode
0          COD
1          EMI
2          EMI
3  Credit Card
4  Credit Card

In [54]:
### Accessing the specified location
print(df['Order ID'].head(10))
print(df.at[5,'Order ID'])
print(df.iat[5,0])

0    B-25681
1    B-26055
2    B-25955
3    B-26093
4    B-25602
5    B-25881
6    B-25696
7    B-25687
8    B-25643
9    B-25851
Name: Order ID, dtype: object
B-25881
B-25881